.outer{
display: flex;
justify-content: center;
background-color: palevioletred;
height: 100vh;
}
.inner{
background-color:bisque;
width: 25%;
margin:100px;
padding: 10px;
}
.minput{
margin-top: 15px;
margin-bottom: 10px;
}
.mlabel{
width: 150px;
display: inline-block;
 
}
.vbutton{
background-color: royalblue;
color: white;
}
.divbutton{

justify-content: center;
display: flex;
margin-top: 20px;
align-items: center;
}
 